.heroBanner {
  background-image: var(--landing-maze-bg);
  background-size: cover;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 0.5rem;
}

.searchBarWrapper {
  --aa-search-input-height: 50px;
  width: 75%;
  max-width: 300px;
  margin: auto auto 20px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
