@import url(https://fonts.bunny.net/css?family=inter:300,400,500,600,700|montserrat:600);

:root[data-theme='dark'] {
  --ifm-color-primary: #1cdf8b;
  --ifm-color-primary-dark: #1bd96a;
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: #2ef19f;
  --ifm-color-primary-lighter: #55f5ae;
  --ifm-color-primary-lightest: #55f5ae;
  --ifm-code-font-size: 95%;
  --landing-maze-bg: linear-gradient(0deg, #31375f 0%, rgba(8, 14, 55, 0) 100%),
    url('https://cdn.modrinth.com/landing-new/landing.webp');
}

:root {
  --ifm-color-primary: #30b27b;
  --ifm-color-primary-dark: rgb(31, 165, 136);
  --ifm-color-primary-darker: rgb(26, 136, 112);
  --ifm-color-primary-darkest: rgb(22, 113, 94);
  --ifm-color-primary-light: #1cdf8b;
  --ifm-color-primary-lighter: #2ef19f;
  --ifm-color-primary-lightest: #55f5ae;
  --ifm-font-family-base: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --landing-maze-bg: linear-gradient(0deg, var(--ifm-color-secondary) 0%, rgba(8, 14, 55, 0) 100%),
    url('https://cdn.modrinth.com/landing-new/landing-light.webp');
}

.hero--primary {
  --ifm-hero-text-color: var(--ifm-font-color-base);
}

.button {
  background-color: var(--ifm-color-primary);
  border: none;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
